@model PaginaDefinitivaYolito.Models.EmailCotizacion

@{
    ViewBag.Title = "EnviarCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contact-page" class="container">
    <div class="bg">
        @if (ViewBag.error != null)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        @ViewBag.error
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success">
                        <h2 class="title2 text-center">¡Cotización enviada con éxito!</h2>
                    </div>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-form">
                        <!--sign up form-->
                        <p>Tu solicitud de cotización esta siendo procesada por nuestro vendedor, el cual se pondrá en contacto con ud para cerrar el negocio.</p>

                    </div><!--/sign up form-->
                </div>
            </div>
        }
        
    </div>

</div>
<br />